<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bigsammy.SnapMeUp"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission
        android:name="android.permission.READ_CONTACTS" />
    <uses-permission
        android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission
        android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission
        android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".Helpers.RuntimeVars">
        <activity android:name="SnapMeUp" android:icon="@drawable/ic_launcher" android:label="@string/label" 
            android:screenOrientation="portrait" android:launchMode="standard" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="www.abramkin.com" android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity android:name="SnapMeUpContacts"></activity>
        <activity android:name="SnapMeUpMyInfo"></activity>
        <activity android:name="SnapMeUpQRActivity"></activity>
        <service
            android:name=".Authenticator.AuthenticationService"
            android:exported="true" android:enabled="true">
            <intent-filter>
                <action
                    android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <activity
            android:name=".Authenticator.AuthenticatorActivity"
            android:label="@string/label"
            android:excludeFromRecents="true"
            android:launchMode="standard"
            android:icon="@drawable/ic_launcher"
            >
            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->
        </activity>
        <activity
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Dialog"
            android:name=".Helpers.ShowToast" android:launchMode="singleInstance"/>
    </application>

</manifest>
          